*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: white;
}

.nav-bg{
    background-color: white;
    box-shadow: 0 0px 30px 0px rgba(0, 0, 0, 0.15);
}
.navbar-nav .nav-link{
    color: #f7471f!important;
    font-weight: bold;
    font-size: 20px;
}
.navbar-toggler{
    outline:none!important;
}
/*---H---*/
#hero{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
#hero:after{
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 130%;
    height: 95%;
    background: whitesmoke
    url("h.jpg") no-repeat;/*image-size 1920H 1080W*/
    z-index: 0;
    border-radius: 0 0 50% 50%;
    transform: translateX(-50%) rotate(0deg);
}
#hero:before{
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    width: 138%;
    height: 96%;
    background: #d6a89a;
    opacity: 0.3;
    z-index: 0;
    border-radius: 0 0 50% 50%;
    transform: translateX(-50%)translateY(18px)rotate(2deg);

}
#hero .carousel-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;

}
#hero h2{
    color: black;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: bold;
}
#hero p{
    width: 80%;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    color: black;
}
#hero .carousel-control-perv,
#hero .carousel-control-next{
    width: 10%;
}

#hero .carousel-control-next-icon,
#hero .carousel-control-perv-icon{
    background: none;
    font-size: 28px;
    line-height: 1;
    width: auto;
    height: auto;
}

#hero .hero-btn{
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: black;
    animation-delay: 0.5s;
    border: 2px solid #bca8e0;
}
#hero .hero-btn:hover{
    background: #f7471f;
    color: white;
    text-decoration: none;
}
@media(min-width:1024px){
    #hero p{
        width: 60%;
    }
    #hero .carousel-control-perv,
    #hero .carousel-control-next{
        width: 5%;
    }
}
@media(max-width:768px){
    #hero h2{
        font-size: 28px;
    }
    #hero:after{
        width: 180%;
        height: 95%;
        border-radius: 0 0 50% 50%;
        transform: translateX(-50%)rotate(0deg);
    }
    #hero:before{
        top: 0;
        width: 180%;
        height: 94%;
        border-radius: 0 0 50% 50%;
        transform: translateX(-50%)translateY(20px)rotate(4deg);
    }
}
@media(max-width:575px){
    #hero:after{
        left: 40%;
        top: 0;
        width: 200%;
        height: 95%;
        border-radius: 0 0 50% 50%;
        transform: translateX(-50%)rotate(0deg);
    }
    #hero:before{
        left: 50%;
        top: 0;
        width: 200%;
        height: 94%;
        border-radius: 0 0 50% 50%;
        transform: translateX(-50%)translateY(20px) rotate(4deg);
    }
}

form{
    margin-top: 30px;
    background: white;
    padding: 10px 14px;
    position: relative;
    border-radius: 4;
}
form input[type="text"]{
    border: 4px;
    font-size: 20px;
    padding: 2px;
    width: calc(100%-110px);
    background: white;
    color: black;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0px 30px 0px rgba(0, 0, 0, 0.15);
}
form input[type="submit"]{
    position: absolute;
    background: none;
    font-size: 20px;
    font-weight: bold;
    padding: 0px 22px;
    background: transparent;
    color: #f7471f;
    transition: 0.3s;
    border-radius: 3px 3px 3px 3px;
    border: white;
    box-shadow: 0 0px 30px 0px rgba(0, 0, 0, 0.15);
}
.limiter {
  width: 1100px;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #fff;

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 43px 40px;
}

/*//////////////////////////////////////////////////////////////////
[ Table ]*/

table {
  width: 1100px;
  background-color: white;
  border-collapse: collapse;
}
tr{
    transition:all .1s ease-in;
    cursor:pointer;
}
th, td {
  font-weight: unset;
  padding: 20px;
  transition: all 0.1s ease-in-out;
}
tr:hover{
    background: #f7471f;
    color:white;
    transform:scale(1.02);
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2),-1px -1px 8px rgba(0,0,0,0.2);
}
.table100-head th {
    padding-left: 10px;
    padding-top: 18px;
    padding-bottom: 18px;
    text-align: center;
    position: fixed;
}
.table100-body td {
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
}
/*==================================================================
[ Fix header ]*/
.table100 {
  position: relative;
  padding-top: 0px;
}

.table100-head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  text-align: center;
}

.table100-body {
  max-height: 585px;
  overflow: auto;
  text-align: center;
}
.table100 tr th:first-child, tr td:first-child {
		text-align: center;
	}
/*==[ T ]*/

.table100.ver2 .table100-head {
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.1);
}

.table100-head.ver2 th {
  font-family: Lato-Bold;
  font-size: 18px;
  color: #f7471f;
  line-height: 1.4;

  padding: 20px;
  text-align: center;
}

.table100-body.ver2 td {
  font-family: Lato-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.4;
  padding: 20px;
  text-align: center;
}

.table100.ver2 .table100-body tr {
  border-bottom: 1px solid #f2f2f2;
}

/*---------------------------------------------*/

.table100.ver2 {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.table100.ver2 .ps__rail-y {
  right: 5px;
}

.table100.ver2 .ps__rail-y::before {
  background-color: #ebebeb;
}

.table100.ver2 .ps__rail-y .ps__thumb-y::before {
  background-color: #cccccc;
}

/*--List of Hospitals
.right form{
    margin-top: 30px;
    background: white;
    padding: 10px 14px;
    position: relative;
    border-radius: 4;
}
.right form input[type="text"]{
    border: 4px;
    font-size: 20px;
    padding: 2px;
    width: calc(100%-110px);
    background: whitesmoke;
    color: black;
    border-radius: 3px 3px 3px 3px;
}
.right form input[type="submit"]{
    position: absolute;
    background: none;
    font-size: 20px;
    padding: 0px 22px;
    background: #d43c18;
    color: white;
    transition: 0.3s;
    border-radius: 3px 3px 3px 3px;
    border: white;
}
h3{
		color: #000000; 
		text-transform: uppercase;
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
		font-size: 25px;
        text-align: center;
        font-weight: bold;
}
.right p{
		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;	
		font-size: 26px;
        text-align: center;
	}
	table {
	    border-collapse: collapse;
   		width: 1100px;
   		font-family: "Times New Roman", Times, serif;
   		font-weight: bold;
        font-size: 90%;
        margin-left: 130px;   
    }
	th {
		background:  #d43c18;
		color: white;
        font-size: 20px;
        text-align: center;
        border-top: 2px solid #FFFFFF;
        border-radius: 5px 5px;
	}
	td {
		background: whitesmoke;
		color: black;
		border-top: 2px solid #FFFFFF;
        text-align: center;
        border-radius: 5px 5px;
	}
	table, td, th {
	    padding: 1%;
	}
	tr th:first-child, tr td:first-child {
		text-align: center;
	}
	tr td {
		opacity: 0.8;
	}
	tr td:hover {
		opacity: 0.5;
		text-align: center;
	
	}

/*--End of List of Hospitals--*/
/*---Work---*/
.work-box{
    padding: 15px;
    background: whitesmoke;
    margin-bottom: 30px;
    position: relative;
}
.work-icon{
    width: 90px;
    height: 90px;
    text-align: center;
    line-height: 90px;
}
.work-icon i{
    font-size: 50px;
    color: black;
    mix-blend-mode: hard-light;
}
.work-box h2{
    font-size: 24px;
    font-weight: bold;
    color: black;
    mix-blend-mode: hard-light;
}
.work-box p{
    font-size: 16px;
    font-weight: light;
    color: black;
    mix-blend-mode: hard-light;
}

.overlay{
    margin: 20px auto;
    border: none;
    padding: 10px 44px;
    font-size: 20px;
    position: relative;
    display: inline-block;
}
.overlay:before{
    transition:all 0.85s cubic-bezier(0.68,-0.55,0.265,1.55);
    content: '';
    width: 50%;
    height: 100%;
    background: whitesmoke;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px 0px 0px 10px;
}
.overlay:hover:before{
    background: #f7471f;
    width: 100%;
    border-radius: 10px;
}

/*---End of Work---*/
/*---Our Team---
.team{
    background: white;
    padding: 60px 0 30px 0;
}
.team .team-1{
    text-align: center;
    margin-bottom: 80px;
    position: relative;
}
.team .team-1 .pic{
    border-radius: 4px;
    overflow: hidden;
}
.team .team-1 img{
    transition:all ease-in-out 0.4s;
}
.team .team-1:hover img{
    transform: scale(1.1);
}
.team .team-1 .team-info{
    position: absolute;
    bottom: -78px;
    left: 20px;
    right: 20px;
    background: #cdbbee;
    padding: 15px 0;
    border-radius: 4px;
}
.team .team-1 h4{
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 16px;
    color: black;
    position: relative;
    padding-bottom: 10px;
}
.team .team-1 h4:after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1px;
    background: #8f6ecc;
    bottom: 0;
    left: calc(50% - 25px);
}
.team .team-1 span{
    font-style: italic;
    display: block;
    font-size: 13px;
    color: white;
}
.team .team-1 .social{
    margin-top: 15px;
}
.team .team-1 .social a{
    transition: color 0.3s;
    color: #7d4adb;
}
.team .team-1 .social a:hover{
    color: #cdbbee;
}
.team .team-1 .social i{
    font-size: 16px;
    margin: 0 2px;
}
@media (max-width : 992px){
    .team .team-1{
        margin-bottom: 100px;
    }
}
/*---End of Our Team---*/
/*---Contact Us---*/
.footer{
    background: whitesmoke;
    padding: 0 0 30px 0;
    color: black;
    font-size: 15px;
}
.footer .footer-top{
    padding: 60px 0 30px 0;
}
.footer .footer-top .footer-des{
    margin-top: -90px;
    margin-bottom: 15px;
    background: #f7471f;
    color: white;
    border-top: 4px solid #cfcada;
    text-align: center;
    padding: 30px 20px;
}
.footer .footer-top .footer-des h3{
    font-size: 28px;
    margin: 0 0 2px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: bold;
}
.footer .footer-top .footer-des p{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
}
.footer .footer-top .social-links a{
    font-size: 18px;
    display: inline-block;
    background: whitesmoke;
    color: black;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}
.footer .footer-top .social-links a:hover{
    background: #f7471f;
    color: white;
    text-decoration: none;
}
.footer .footer-top h4{
    font-size: 16px;
    font-weight: bold;
    color: black;
    position: relative;
    padding-bottom: 12px;
}
.footer .footer-top .footer-links{
    margin-bottom: 30px;
}
.footer .footer-top .footer-links ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.footer .footer-top .footer-links ul i{
    padding-right: 2px;
    color: black;
    font-size: 18px;
    line-height: 1;
}
.footer .footer-top .footer-links ul li{
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.footer .footer-top .footer-links ul li:first-child{
    padding-top: 0;
}
.footer .footer-top .footer-links ul a{
    color: black;
    transition:  0.3s;
    display: inline-block;
    line-height: 1;
}
.footer .footer-top .footer-links ul a:hover{
    color: #f7471f;
}
.footer .footer-top .footer-joinus form{
    margin-top: 30px;
    background: white;
    padding: 6px 10px;
    position: relative;
    border-radius: 4;
}
.footer .footer-top .footer-joinus form input[type="email"]{
    border: 0;
    padding: 4px;
    width: calc(100%-110px);
}
.footer .footer-top .footer-joinus form input[type="submit"]{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #f7471f;
    color: white;
    transition: 0.3s;
    border-radius: 4;
}
.footer .footer-top .footer-joinus form input[type="submit"]:hover{
    background: #cfcada;
    color: #cfcada;
}
/*---End of Contact Us---*/

/* Table */
#Input_name {
     /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 20%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
     /* Add some space below the input */
    position: relative;
    left : 200px;
    margin-left: 10px;
    
  }

  #Input_location{
     /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 20%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
     /* Add some space below the input */
    position: relative;
    left : 200px;
    margin-left: 10px;
    
  }

  #MyTable
  {
    border-collapse: collapse;
  }
